$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$border-color: var(--border-color);
$box-shadow-color: var(--box-shadow-color);
$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 30px;